---
import Application from "../components/Application.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SVG to SwiftUI Converter</title>
    <meta
      name="description"
      content="SVG to SwiftUI converter let's you convert raw svg code into a SwiftUI Shape structure. Just paste your SVG icon source code or upload a file and get the Swift code you need for your iOS app!"
    />
    <meta name="robots" content="index, archive" />
    <link rel="canonical" href="https://svg-to-swiftui.quassum.com/" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>

  <body class="bg-zinc-50 dark:bg-zinc-900">
    <Application />

    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5043678363301679"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
