---
import App from "../components/App.svelte"
import "../styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<App client:load/>
	</body>
</html>
