<div class="w-full py-3 bg-zinc-800 text-white">
  <p class="mx-auto w-fit text-sm font-light tracking-wide">
    Functionality is limited for now, feel free to contribute on
    <a href="https://github.com/quassummanus/SVG-to-SwiftUI" alt="link to GitHub"
      class="text-blue-300 hover:text-blue-400 active:text-blue-200 visited:text-purple-300 font-normal">
      Github
    </a> 🚀
  </p>
</div>