<div class="w-full py-3 bg-zinc-700 text-white">
  <p class="mx-auto w-fit text-sm font-light tracking-wide">
    Welcome to the redesigned SVG to SwiftUI converter! Functionality is limited
    for now, feel free to contribute on
    <a
      href="https://github.com/quassum/SVG-to-SwiftUI"
      class="text-blue-300 hover:text-blue-400 active:text-blue-200 visited:text-purple-300 font-normal"
    >
      Github
    </a> or <a
      href="https://github.com/sponsors/bring-shrubbery"
      class="text-blue-300 hover:text-blue-400 active:text-blue-200 visited:text-purple-300 font-normal"
      >support me financially</a
    > 🚀
  </p>
</div>
