---
import { Icon } from "astro-icon";
---

<!-- Google Ads Data Processing Terms: https://business.safety.google/adsprocessorterms/ -->
<div
  id="consent-toast"
  class="absolute bottom-8 right-8 w-[460px] rounded-2xl p-4 bg-gray-900 text-gray-100 shadow-lg z-50"
>
  <div class="flex flex-col gap-2 w-full">
    <div class="flex justify-between w-full">
      <label class="text-lg">🍪 We use Google Analytics and Adsense</label>
      <div
        class="w-5 h-5 p-1 flex justify-center content-center hover:bg-gray-600 rounded-full cursor-pointer"
        onclick="document.getElementById('consent-toast').classList.toggle('hidden')"
      >
        <Icon class="w-3 h-3" name="maki:cross" />
      </div>
    </div>
    <p class="block text-sm px-1 leading-relaxed">
      To improve our products and support the development, we use Google
      Analytics for collecting anonymous analytics, and AdSense to financially
      support development by showing ads.
    </p>
  </div>
</div>
