---
import AnnouncementBanner from "./AnnouncementBanner.astro";
import DarkModeToggle from "./DarkModeToggle.svelte";
import GithubIcon from "./GithubIcon.astro";

import { Image } from "@astrojs/image/components";
---

<AnnouncementBanner />

<header
  class="w-full px-6 py-2 mb-1 bg-white dark:bg-zinc-800 flex justify-between select-none"
>
  <div class="flex h-full items-center">
    <Image
      class="w-16 h-16"
      src="/SVG-to-SwiftUI/svg-to-swiftui-logo-256.png"
      alt="SVG to SwiftUI Logo"
      width="64"
      height="64"
    />
    <h1
      class="font-bold text-4xl pl-1 pt-1 bg-gradient-to-r from-[#F5E338] to-[#F05137] bg-clip-text"
      style="-webkit-text-fill-color: transparent;"
    >
      SVG to SwiftUI
    </h1>
    <div
      class="mx-6 mt-1 rounded-lg shadow overflow-hidden border-2 border-zinc-500"
    >
      <iframe
        src="https://github.com/sponsors/bring-shrubbery/button"
        title="Sponsor bring-shrubbery"
        height="32"
        width="120"
        class="block rounded-md"></iframe>
    </div>
  </div>

  <div class="flex items-center text-slate-900 dark:text-slate-50">
    <!-- <iframe src=" https://ghbtns.com/github-btn.html?user=quassum&repo=SVG-to-SwiftUI&type=star&count=true&v=2"
    frameborder="0" scrolling="0" width="90" height="20" title="GitHub" class="" /> -->

    <DarkModeToggle client:load />

    <div
      class="cursor-pointer w-10 h-10 flex items-center justify-center hover:bg-zinc-100 dark:hover:bg-zinc-700 rounded-full"
    >
      <a
        class="cursor-pointer"
        href="https://github.com/quassum/SVG-to-SwiftUI"
      >
        <GithubIcon />
      </a>
    </div>
  </div>
</header>
