html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
  margin-top: 1.5rem;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

main {
  text-align: center;
  padding: 1em;
  max-width: 240px;
  margin: 0 auto;
}

h1 {
  color: #ff3e00;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 100;
  margin: 10px auto;
}

textarea {
  width: 600px;
  height: 200px;
  max-width: 600px;
  max-height: 200px;
  min-width: 300px;
  min-height: 100px;
  font-family: "Courier New", Courier, monospace;
  font-size: 10pt;
  border-radius: 5px;
}

textarea::placeholder {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  /* justify-items: center; */
  align-items: center;
}

li:last-child {
  margin-bottom: 0;
}

li > label {
  margin: 5px 10px;
}

li > input {
}

#swift-output-area {
  max-height: 1000px;
  height: 350px;
}

#settings-button:hover {
  cursor: pointer;
}

@media (min-width: 640px) {
  main {
    max-width: none;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background-color: #222;
  }

  textarea {
    background: #444;
    color: #eee;
  }

  a {
    color: rgb(55, 155, 255);
    text-decoration: none;
  }

  a:visited {
    color: rgb(0, 105, 211);
  }

  #settings-button {
    filter: invert(100%);
  }
}
